# IntelliJ IDEA
.idea/
*.iml
out/
target/

# Maven
*.class
*.jar
*.war
*.ear

# Logs y archivos temporales
*.log
*.tmp
*.swp

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Docker: Excluir volúmenes
infraestructure/docker-compose/volumes/
